.mobile-header {
    border-bottom: 1px solid #ccc;
    height: 64px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.mobile-content{
    background: #f9f9f9;
}

.mobile-footer{
    color:#2b2c35;
    font-size:15px;
}

.user-name {
    display: block;
    width: 100%;
    padding: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.login-form {
    max-width: 500px;
    width: 90%;
    padding: 60px 10px;
    border: 0;
    margin: 0 auto;
    font-family: inherit;
    text-align: left;
    font-size: 25px;
}

.login-form label{
    font-size: 1.5rem;
    display: block;
}

.login-form input [type="text"], .login-form input[type="password"]{
    font-size: 1.3rem;
    margin: 10px 0 30px;
    padding: 3% 2%;
}

.login-button {
    border: solid 1px #2b193d;
    border-radius: 50px;
    width: 100%;
    background-color: #2b2c35;
    color: #ffffff !important;
    font-size: 22px;
    font-weight: bold;
    height: 61px;
    line-height: 61px;
    text-align: center;
    margin-top: 20px;
}
