.imgcontainer {
    margin: 17vh auto 30px;
}

.user-name {
    display: block;
    width: 100%;
    padding: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.login-form {
    width: 50%;
    padding: 0;
    border: 0;
    margin: 0 auto;
    font-family: inherit;
    text-align: left
}

.login-button {
    border: solid 1px #2b193d;
    background: #fff;
    color: #2b193d;
    border-radius: 50px;
    padding: 6px;
    margin: 16px auto 10px;
    width: 100%;
    font-size: 14px;
}